/** https://github.com/WarL0ckNet/tile-art */

.tile {
  width: 30px;
  height: 42px;
  vertical-align: text-bottom;
  margin-left: 4px;
  margin-right: 4px;
}

.tile + .tile {
  margin-left: -4px;
}

.tenbo {
  width: 156px;
  height: 12px;
}

.face,
.back {
  filter: url(#inset-shadow);
}

.face {
  fill: #ffffff;
}

.back {
  fill: #ffba1e;
}

.rotate {
  width: 42px;
  height: 42px;
  transform: rotate(-90deg) translate(-8px, 0);
}
